<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#054261" />
    <meta
      name="description"
      content="A damage, DPS, and efficiency calculator for RPGs"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <script type="module" src="main.js"></script>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
    <title>DMG Calc</title>
  </head>
  <body class="center sans-serif pa3 mw7">
    <h1 class="ma0">Damage Calculator</h1>
    <p class="mt1">
      &copy; 2019 <a href="https://mockbrian.com">Brian Mock</a>
    </p>
    <div id="app" class="flex-l" v-cloak>
      <form class="mr4-l flex-auto w-30-l" v-on:submit="submit($event)">
        <div>
          <label for="name" class="Label">Name</label>
          <input id="name" v-model="name" class="Input" />
        </div>
        <div>
          <label for="damage" class="Label">Damage</label>
          <input
            id="damage"
            type="number"
            v-model="inputDamage"
            class="Input"
          />
        </div>
        <div>
          <label for="accuracy" class="Label">Accuracy (%)</label>
          <input
            id="accuracy"
            type="number"
            v-model="inputAccuracy"
            class="Input"
          />
        </div>
        <div>
          <label for="minimumHits" class="Label">Minimum Hits</label>
          <input
            id="minimumHits"
            type="number"
            v-model="inputMinimumHits"
            class="Input"
          />
        </div>
        <div>
          <label for="maximumHits" class="Label">Maximum Hits (optional)</label>
          <input
            id="maximumHits"
            type="number"
            v-model="inputMaximumHits"
            class="Input"
          />
        </div>
        <div>
          <label for="cost" class="Label">Cost (MP, TP, etc.)</label>
          <input id="cost" type="number" v-model="inputCost" class="Input" />
        </div>
        <div>
          <label for="time" class="Label">Time (Turns, Seconds, etc.)</label>
          <input id="time" type="number" v-model="inputTime" class="Input" />
        </div>
        <div class="mt3">
          <button class="Button" v-bind:disabled="isFormDisabled">
            Add
          </button>
        </div>
      </form>
      <div class="flex-auto w-70-l mt3">
        <div>
          <label class="Radio">
            <input
              type="radio"
              class="Radio-Input"
              id="mode-average"
              value="average"
              v-model="mode"
            />
            Show averages
          </label>
          <label class="Radio">
            <input
              type="radio"
              class="Radio-Input"
              id="mode-minimum"
              value="minimum"
              v-model="mode"
            />
            Show minimums
          </label>
          <label class="Radio">
            <input
              type="radio"
              class="Radio-Input"
              id="mode-maximum"
              value="maximum"
              v-model="mode"
            />
            Show maximums
          </label>
        </div>
        <div class="Empty" v-if="spells.length === 0">
          Try adding something
        </div>
        <spell-table
          v-else
          v-for="spell in spells"
          v-bind:spell="spell"
          v-bind:mode="mode"
          v-on:delete="onDelete"
        ></spell-table>
      </div>
    </div>
  </body>
</html>
