:root {
  --rounded: 0px;

  --c_bg_10: hsl(200, 70%, 10%);
  --c_bg_20: hsl(200, 70%, 20%);
  --c_bg_30: hsl(200, 70%, 30%);
  --c_bg_40: hsl(200, 70%, 40%);
  --c_bg_50: hsl(200, 70%, 50%);
  --c_bg_80: hsl(200, 70%, 80%);
  --c_bg_90: hsl(200, 70%, 90%);

  --c_fg_10: hsl(90, 70%, 10%);
  --c_fg_20: hsl(90, 70%, 20%);
  --c_fg_30: hsl(90, 70%, 30%);
  --c_fg_40: hsl(90, 70%, 40%);
  --c_fg_50: hsl(90, 70%, 50%);
  --c_fg_60: hsl(90, 70%, 60%);
  --c_fg_70: hsl(90, 70%, 70%);
  --c_fg_80: hsl(90, 70%, 80%);
  --c_fg_90: hsl(90, 70%, 90%);
}

body {
  background: var(--c_bg_10);
  color: var(--c_bg_80);
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.5;
}

.RemoveButton {
  cursor: pointer;
  margin-top: 0.5em;
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  text-decoration: underline;
  font-size: 0.9rem;
  padding: 0;
  font-weight: normal;
  border: 0;
  background: transparent;
  color: var(--c_bg_80);
}

.RemoveButton:hover {
  opacity: 0.5;
}

.Results {
  border-radius: var(--rounded);
  border: 1px solid var(--c_bg_30);
  background: var(--c_bg_20);
  color: var(--c_fg_80);
  padding: 1em;
  margin-top: 1em;
}

.Results-Name {
  flex: 1 1 auto;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.3rem;
  color: var(--c_fg_90);
}

.Results-Item {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--c_bg_30);
}

.Results-Item:first-child {
  border-top: 1px solid var(--c_bg_30);
}

.Results-Divider {
  flex: 1 1 1em;
  margin: 0 1em;
}

.Results-Number {
  font-family: monospace;
  font-size: 1.4rem;
}

.Label {
  display: block;
  /* font-weight: bold; */
  margin-bottom: 0.5em;
}

.Input {
  border-radius: var(--rounded);
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid var(--c_bg_30);
  background: var(--c_bg_20);
  color: var(--c_bg_90);
}

.Button {
  margin-top: 1.5em;
  border-radius: var(--rounded);
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid var(--c_fg_40);
  background: var(--c_fg_30);
  color: var(--c_fg_90);
  font-weight: bold;
}

.Button:hover {
  background: var(--c_fg_40);
}

.Button:disabled {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.2);
}

.Empty {
  font-size: 1.1rem;
  text-align: center;
  color: var(--c_bg_50);
}

::selection {
  background: var(--c_bg_90);
  color: var(--c_bg_10);
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--c_bg_10), 0 0 0 4px var(--c_bg_80);
}
