:root {
  --rounded: 1px;

  --uno_10: hsl(200, 90%, 10%);
  --uno_20: hsl(200, 90%, 20%);
  --uno_30: hsl(200, 90%, 30%);
  --uno_40: hsl(200, 90%, 40%);
  --uno_50: hsl(200, 90%, 50%);
  --uno_60: hsl(200, 90%, 60%);
  --uno_70: hsl(200, 90%, 70%);
  --uno_80: hsl(200, 90%, 80%);
  --uno_90: hsl(200, 90%, 90%);

  --due_10: hsl(90, 70%, 10%);
  --due_20: hsl(90, 70%, 20%);
  --due_30: hsl(90, 70%, 30%);
  --due_40: hsl(90, 70%, 40%);
  --due_50: hsl(90, 70%, 50%);
  --due_60: hsl(90, 70%, 60%);
  --due_70: hsl(90, 70%, 70%);
  --due_80: hsl(90, 70%, 80%);
  --due_90: hsl(90, 70%, 90%);
}

body {
  background: var(--uno_20);
  color: var(--uno_80);
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.5;
}

.RemoveButton {
  cursor: pointer;
  margin-top: 0.5em;
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  text-decoration: underline;
  font-size: 0.9rem;
  padding: 0;
  font-weight: normal;
  border: 0;
  background: transparent;
  color: var(--due_50);
}

.RemoveButton:hover {
  color: var(--due_70);
}

.Results {
  border-radius: var(--rounded);
  border: 1px solid var(--uno_30);
  background: var(--uno_10);
  color: var(--uno_80);
  padding: 1em;
  margin-top: 1em;
}

.Results-Name {
  flex: 1 1 auto;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.3rem;
  color: var(--uno_90);
}

.Results-Item {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  border-bottom: 1px solid var(--uno_20);
}

.Results-Item:first-child {
  border-top: 1px solid var(--uno_20);
}

.Results-Divider {
  flex: 1 1 1em;
  margin: 0 1em;
}

.Results-Number {
  font-family: monospace;
  font-size: 1.4rem;
}

.Label {
  display: block;
  margin-bottom: 0.5em;
}

.Radio {
  user-select: none;
  display: block;
  width: 100%;
  padding: 0.25em 0;
}

.Radio-Input {
  -webkit-appearance: none;
  border-radius: 9999px;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border: 1px solid var(--uno_40);
  background: var(--uno_30);
  color: var(--uno_90);
}

.Radio-Input:checked {
  box-shadow: inset 0 0 0 3px var(--uno_30);
  background: var(--due_90);
}

.Radio-Input:checked:focus {
  box-shadow: inset 0 0 0 3px var(--uno_30), 0 0 0 2px var(--uno_10),
    0 0 0 4px var(--uno_80);
}

.Input {
  border-radius: var(--rounded);
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid var(--uno_40);
  background: var(--uno_30);
  color: var(--uno_90);
}

.Button {
  margin-top: 1.5em;
  border-radius: var(--rounded);
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid var(--due_40);
  background: var(--due_30);
  color: var(--due_90);
  font-weight: bold;
}

.Button:disabled {
  background: var(--uno_20);
  border-color: var(--uno_30);
  color: var(--uno_40);
}

.Empty {
  margin-top: 2em;
  font-size: 1.1rem;
  text-align: center;
  color: var(--uno_70);
}

::selection {
  background: var(--uno_90);
  color: var(--uno_10);
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--uno_10), 0 0 0 4px var(--uno_80);
}
